@charset "UTF-8";

@font-face {
  font-family: 'fontello-37b62141';
  src: url('fontello-37b62141.eot');
  src: url('fontello-37b62141.eot?#iefix') format('embedded-opentype'),
       url('fontello-37b62141.woff') format('woff'),
       url('fontello-37b62141.ttf') format('truetype'),
       url('fontello-37b62141.svg#fontello-37b62141') format('svg');
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: fontello-37b62141;
  font-style: normal;

  /* font-size: 14px; */

  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.icon-resize-full-alt:before { content: ""; } /* '\e745' */
.icon-resize-small-alt:before { content: ""; } /* '\e747' */
.icon-zoom-in:before { content: ""; } /* '\e750' */
.icon-zoom-out:before { content: ""; } /* '\e751' */
